@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.historycounter-box {
	width: 16px;
	max-width: 16px;
	position: relative;
	margin-right: -16px;
	z-index: 100;
	-moz-box-pack: end;
}

.historycounter-label {
	font-size: 10px;
	margin: 0;
	padding: 0;
	min-width: 0;
}
